.dialog-head{
    color: #666666 !important;
    font-weight: 400 !important;
}
.dialog-content{
    max-height: 400px !important;
}
.guide-content {
	color: #cdba95;
	background-color: #fbfbf9;
	overflow: hidden;
	text-align: center;
}

.guide-privilege {
	padding: 10px 0;
	text-align: center;
	&::before {
		content: "";
		position: relative;
		width: 30px;
		display: inline-block;
		border-bottom: 1px solid #cdba95;
		right: 7px;
		vertical-align: middle;
	};

	&::after {
		content: "";
		position: relative;
		width: 30px;
		display: inline-block;
		border-bottom: 1px solid #cdba95;
		left: 7px;
		vertical-align: middle;
	};

}

.guide-item {
	width: 33.3%;
	height: 60px;
	float: left;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 40px;
	&::after {
		position: relative;
		top: 65px;
		font-size: 12px;
	}
	
	&-org {
		background-image: url('./img/vip-org.png?__inline');
		&::after {
			content: "机构更多";
		};
	}

	// &-phone {
	// 	background-image: url('./img/vip-phone.png?__inline');
	// 	&::after {
	// 		content: "电话联系";
	// 	};
	// }
	&-bank {
		background-image: url('./img/vip-bank.png?__inline');
		&::after {
			content: "银行低息贷";
		};
	}

	&-service {
		background-image: url('./img/vip-service.png?__inline');
		&::after {
			content: "贷款顾问";
		};
	}

	&-list {
		background-image: url('./img/vip-list.png?__inline');
		&::after {
			content: "推荐产品";
		};

	}

	&-monery {
		background-image: url('./img/vip-monery.png?__inline');
		&::after {
			content: "成功贷款";
		};
	}
}