.top-banner-common {
    height: 130px;
    ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
    }
    h3 {
        flex: 1;
        font-size: 26px;
        font-weight: 400;
        line-height: 60px;
    }
    h3::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 3px;
        background: #ffffff;
        margin-right: 15px;
        margin-bottom: 6px;
    }
    h3::after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 3px;
        background: #ffffff;
        margin-left: 15px;
        margin-bottom: 6px;
    }
}

.high-pass-top {
    background: url('./img/high-pass.png');
    background-size: 100% 100%;
    p:last-child {
        padding: 0 15px;
        margin: 10px 0;
        border-radius: 20px;
        background: #ffffff;
        background-color: rgba(0, 0, 0, 0.2);
        height: 30px;
        font-size: 13px;
        line-height: 30px;
    }
}

.high-pass-no-vip {
    margin-bottom: 50px;
    ul {
        display: flex;
        height: 100%;
        border-top: 1px solid #f6f6f6;
    }
    div:nth-child(2) {
        li:first-child {
            p:first-child::before {
                content: '2'
            }
        }
    }
    div:nth-child(3) {
        li:first-child {
            p:first-child::before {
                content: '3'
            }
        }
    }
    li {
        // display: flex;
        flex: 1; // flex-direction: column;
        height: 70px;
        padding: 14px 14px;
    }
    li:first-child {
        p:first-child {
            font-size: 20px;
            color: #ff552e;
        }
        p:last-child {
            font-size: 12px;
            color: #999;
            padding-left: 30px;
        }
        p:first-child::before {
            content: '1';
            display: inline-block;
            position: relative;
            top: -2px;
            margin-right: 10px;
            width: 21px;
            height: 25px;
            color: #ffffff;
            font-size: 16px;
            background: url('./img/icon-medal.png?__inline') no-repeat;
            background-size: 21px 25px;
            text-align: center; // padding-top: 2px;
        }
    }
    li:last-child::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 1px;
        height: 30px;
        margin-top: 5px;
        background: #e6e6e6;
    }
    p {
        font-weight: 600;
        color: #333333;
        font-size: 14px;
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn-vip {
        text-align: center;
        button {
            width: 40%;
            border-radius: 30px;
            height: 35px;
            line-height: 35px;
            margin: 15px 0;
            background: -webkit-linear-gradient(right, #ff3948, #ff552e);
            /* Opera 11.1 - 12.0 */
            background: -o-linear-gradient(right, #ff3948, #ff552e);
            /* Firefox 3.6 - 15 */
            background: -moz-linear-gradient(right, #ff3948, #ff552e);
            background: linear-gradient(to right, #ff3948, #ff552e);
        }
    }
}

.high-right-icon {
    font-style: normal;
    float: right;
    margin-right: 5px;
    width: 21px;
    height: 25px;
    color: #ffffff;
    font-size: 16px;
    background: url('./img/icon-medal.png?__inline') no-repeat;
    background-size: 21px 25px;
    text-align: center;
    padding-top: 2px;
}

.title-ml {
    margin: 15px 0;
}

.no-recommend {
    text-align: center;
    padding: 200px 0;
    color: #BDBDBD;
}

.btn-height {
    height: 49px !important;
}
